{% extends 'base.html' %}

{% block content %}
    <style>
        tr > td:hover {
            background-color: #FFCC04;
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none; /* Remove o sublinhado padrão de links */
            color: inherit; /* Herda a cor do texto padrão da célula */
            
            top: 0;
            left: 0;
        }
    </style>
    <div>
        <form method="GET" action="{% url 'kit_list' %}" class="center-content" style="margin: 10px;">
            <input type="text" name="search" placeholder="Buscar kit...">
            <button type="submit">Buscar</button>
        </form>
    </div>    
    <div style="margin: 10px; overflow: auto; max-height: 300px;" class="center-content">
        <div style=" width: 80%; margin: auto; position: relative;">
            {% if kits %}
            <table  style="width: 90%" class="table-produto table-striped">
                <thead>
                    <th width="50%">Kit</th>                    
                    <th width="25%">Custo</th>
                    <th width="25%">Lucro</th>
                </thead>
                <tbody class="table-group-divider">
                    {% for kit in kits %}                        
                        <tr>
                            <td><a href="{% url 'kit_detail' pk=kit.pk %}">{{ kit.label }} </a></td>                            
                            <td>R$ {{ kit.cost|floatformat:2 }}</td>
                            <td>R${{ kit.profit|floatformat:2 }}</td>
                        </tr>                        
                    {% endfor %}
                </tbody>
            </table>
        {% else %}     
            <h1>Nenhum kit cadastrado</h1>
        {% endif %}
        </div>        
    </div>
{% endblock %}