{% extends 'base.html' %}

{% block content %}
    <style>
        tr > td:hover {
            background-color: #FFCC04;
        }
    </style>
    <div style="margin: 10px;" class="center-content">
        {% if kits %}
            <table overflow-x="auto" overflow-y="auto" margin="auto" width="80%" class="table table-produto">
                <thead>
                    <th width="50%">Kit</th>                    
                    <th width="25%">Custo</th>
                    <th width="25%">Lucro</th>
                </thead>
                <tbody>
                    {% for kit in kits %}                        
                        <tr>
                            <td><a href="{% url 'kit_detail' pk=kit.pk %}">{{ kit.label }}</a></td>                            
                            <td>R$ {{ kit.cost|floatformat:2 }}</td>
                            <td>R${{ kit.profit|floatformat:2 }}</td>
                        </tr>                        
                    {% endfor %}
                </tbody>
            </table>
        {% else %}     
            <h1>Nenhum kit cadastrado</h1>
        {% endif %}
    </div>
{% endblock %}