{% extends 'base.html' %}

{% block content %}
    <style>
        .product-card {
            background-color: #F6EB13;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            overflow: hidden;
            text-align: center;
            transition: all 0.3s ease;
            max-width: 500px;
            margin: 20px auto 0;
            margin-bottom: 20px;
            color: #3398CC
            }
        .product-card > h2 {
            background-color: #FFCC04;
        }
        .btn {
            display: inline-block;
            background-color: #FFCC04;
            color: #3398CC;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            margin: 0 10px;
        }

        .btn:hover {
            background-color: #3398CC;
            color: #FFCC04;
        }

        .btn-danger {
            background-color: #d9534f;
            text-decoration: none !important;
        }

        .btn-danger:hover {
            background-color: #d2221c;
        }
        .buttons-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>    
    <div style="margin: 10px;" class="center-content">
        {% if user.is_authenticated %}
        <form id="products-form" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_p }}
            </table>            
            <div class="center-content">
                <input type="submit" value="Criar" class="btn btn-primary center-content" style="margin: 5px;">
            </div>                     
        </form>
        {% endif %}
    </div>
    <div style="margin: 10px;" class="center-content">
        <a class="btn-primary center-content">Valor Total do kit: R$ </a>
        <a id="total-value" class=" btn buttons-container center-content">0,00</a>
    </div>
    
    <script>

    document.addEventListener("DOMContentLoaded", function() {
        var form = document.getElementById('products-form');
        var totalCostElement = document.getElementById('total-cost');

        form.addEventListener('change', function() {
            var selectedProducts = [];
            var checkboxes = form.querySelectorAll('input[name="products"]:checked');
            checkboxes.forEach(function(checkbox) {
                selectedProducts.push(parseFloat(checkbox.dataset.price));
            });

            var totalCost = selectedProducts.reduce(function(acc, price) {
                return acc + price;
            }, 0);

            totalCostElement.textContent = totalCost.toFixed(2);
        });
    });
        
        const totalValue = document.getElementById('total-value');
        var productsForm2 = document.getElementById('id_products');
        var prod = document.getElementById('id_products_0');
        var prodName = document. getElementById('prodName');
        
        let productsList = [];
        
        localStorage.setItem('prodName', JSON.stringify(prodName));
        localStorage.setItem('prod', JSON.stringify(prod));
        localStorage.setItem('products-form2', JSON.stringify(productsForm2));
        var productsform2 = JSON.parse(localStorage.getItem('products-form2'));
    </script> 
{% endblock %}