{% extends 'base.html' %}

{% block content %}
    <style>
        .product-card {
            background-color: #F6EB13;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            overflow: hidden;
            text-align: center;
            transition: all 0.3s ease;
            max-width: 500px;
            margin: 20px auto 0;
            margin-bottom: 20px;
            color: #3398CC
            }
        .product-card > h2 {
            background-color: #FFCC04;
        }
        .btn {
            display: inline-block;
            background-color: #FFCC04;
            color: #3398CC;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            margin: 0 10px;
        }

        .btn:hover {
            background-color: #3398CC;
            color: #FFCC04;
        }

        .btn-danger {
            background-color: #d9534f;
            text-decoration: none !important;
        }

        .btn-danger:hover {
            background-color: #d2221c;
        }
        .buttons-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
    
    <div style="margin: 10px" class="center-content">
        <label for="id_product_filter" style="margin: 10px"><strong>Filtrar produtos:</strong></label>
        <input type="text" name="product_filter" id="id_product_filter" class="product-filter">
    </div>
    <form id="products-form" method="post">        
        {% csrf_token %}    
        <div style="margin: 10px; overflow: auto; max-height: 300px;" class="center-content" display="flex">
            <div style=" width: 80%; margin: auto; position: relative;">
                {% if user.is_authenticated %}                
                    <table>
                        {{ form.as_table }}
                    </table>
                {% endif %}
            </div> 
        </div>
        <div class="center-content">
            <input type="submit" value="Criar" class="btn btn-primary center-content" style="margin: 5px;">
        </div>
    </form>
    <div style="margin: 10px;" class="center-content">            
        <div><a id="total-value" class=" btn buttons-container center-content">0,00</a></div>                       
    </div> 
    
    
    <script>
        // Função para construir o array JS no carregamento da página
        document.addEventListener('DOMContentLoaded', function() {
            var productArray = {};
            // Itera sobre todos os produtos disponíveis no formulário
            document.querySelectorAll('[type="checkbox"]').forEach(function(checkbox) {
                var productId = checkbox.id; // Pega o valor do atributo "value" do checkbox
                var productPrice = checkbox.dataset.price; // Pega o valor do atributo "data-price" do checkbox
                // Adiciona ao array JS
                productArray[productId] = {
                    price: parseFloat(productPrice)
                };
            });
            console.log('productArray', productArray)
            // Calcula o somatório dos produtos selecionados
            function updateSelectedProductsTotal() {
                var total = 0;
                // Itera sobre os produtos selecionados
                document.querySelectorAll('[type="checkbox"]:checked').forEach(function(checkbox) {
                    var productId = checkbox.id;
                    total += productArray[productId].price;
                });
                // Atualiza o conteúdo da div
                document.getElementById('total-value').textContent = 'Total: R$ ' + total.toFixed(2);
                console.log('prod', total)
            }
            // Adiciona ouvinte de evento para chamar a função quando os checkboxes são alterados
            document.querySelectorAll('[type="checkbox"]').forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                        updateSelectedProductsTotal();
                });
            });
            // Chama a função inicialmente para exibir o total no carregamento da página
            updateSelectedProductsTotal();
        });
        document.addEventListener('DOMContentLoaded', function() {
            var filterInput = document.querySelector('.product-filter');
            var checkboxes = document.querySelectorAll('[type="checkbox"]');

            filterInput.addEventListener('input', function() {
                var filterText = filterInput.value.toLowerCase();

                checkboxes.forEach(function(checkbox) {
                    var productName = checkbox.nextElementSibling.textContent.toLowerCase();
                    checkbox.parentElement.style.display = productName.includes(filterText) ? 'block' : 'none';
                });
            });
        });
    </script>
{% endblock %}