{% extends 'base.html' %}

{% block content %}
    <style>
        .product-card {
            background-color: #F6EB13;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            overflow: hidden;
            text-align: center;
            transition: all 0.3s ease;
            max-width: 500px;
            margin: 20px auto 0;
            margin-bottom: 20px;
            color: #3398CC
            }
        .product-card > h2 {
            background-color: #FFCC04;
        }
        .btn {
            display: inline-block;
            background-color: #FFCC04;
            color: #3398CC;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            margin: 0 10px;
        }

        .btn:hover {
            background-color: #3398CC;
            color: #FFCC04;
        }

        .btn-danger {
            background-color: #d9534f;
            text-decoration: none !important;
        }

        .btn-danger:hover {
            background-color: #d2221c;
        }
        .buttons-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>    
    <div style="margin: 10px;" class="center-content">
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div style="margin: 10px;" class="center-content">
                Valor total do kit: R$ {{ kit_price|floatformat:2  }}
            </div>
            <div class="center-content">
                <input type="submit" value="Criar" class="btn btn-primary center-content" style="margin: 5px;">
            </div>                     
        </form>
        {% endif %}
    </div> 
{% endblock %}